

#container {
  overflow: hidden;
}

#sidebar {
  background: #001223;
  padding: 0 2rem;
  overflow: auto;
  height: 100vh;
}

.title {
  font-family: Söhne Mono Halbfett;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: white;
}

.subtitle {
  font-family: Söhne Mono Buch;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0.05em;
  color: white;
  margin: 2rem 0 1rem 0;
}

.sidebar__section {
  padding: 3rem 0 4rem 0;
}

.sidebar__section--last {
  padding-bottom: 4rem;
}

.sidebar__section--border {
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  margin: 0 -2rem;
}

/* These styles are for the toggles */
.toggle-group {
  vertical-align: center;
  font-family: Söhne Mono Halbfett;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.toggle {
  text-align: center;
  display: inline-block;
  width: 102px;
  height: 45px;
}

.toggle--inactive {
  box-sizing: border-box;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.toggle--active {
  box-sizing: border-box;
  background: rgba(65, 234, 212, 0.82);
  color: rgba(255, 255, 255, 1);
  border: rgba(65, 234, 212, 0.82);
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

/*These styles are for the dropdown inputs*/
.dropdown {
  font-family: Söhne Mono Halbfett;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
  padding: 13px 8px;
  background: white;
  border: none;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-image: url("../images/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
}

.dropdown:focus {
  border: 2px solid #40EAD3;
}


.dropdown__feet, .dropdown__inch {
  margin-right: 6px;
  width: 28%;
}

.dropdown__fraction {
  width: 42%;
}

.dropdown:hover {
  cursor: pointer;
}

.stairangle__number {
  background: white;
  padding: 11px auto;
  border-radius: 3px;
  text-align: center;
  width: 40%;
}

/*Slider controls */

.slider__height {
  width: 100%;
}

.slider__angle {
  width: 55%;
  margin: auto 0;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 2px; /* Specified height */
  background: rgba(255, 255, 255, 0.5); /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 8px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #41EAD4; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 8px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #41EAD4; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Scrollbar style */ 
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}